*{
    background-color:rgb(180, 157, 114);
    margin: 0 0.1em;
}
h1{
    color: black;
    font-size: 4em;
    border-bottom: 3px solid black;
    width: 708px;
    margin: auto;
    margin-top: 0.8em;
    box-shadow: 4px 4px 15px 15px black;
}

.container{
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-between;
}

img{
    width: 450px;
    height: 650px;
    margin: 5% 1%;
    transition: all 1s;
}
img:hover{
    transform: scale(1.1);
}