h1{
    text-align: center;
    font-size: 60px;
    font-weight: bolder ;
}


.container{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 25;
    margin: auto;
    height: 300px;
    width: 550px;
    outline: dashed 2px black;
    position: relative;
}

.square{
    height: 125px;
    width: 125px;
    margin-top: 50px;
    background-color: red;
}


.position2 {
    margin: auto;
    margin-top: 50px; 
    background-color: orangered;
}

.position3{
    margin: 425px;
    margin-top: 50px; 
    background-color: orange;
}

.position4{
    position: absolute;
    background-color: yellow;
    top: 10%;
    left: 50%;
    margin: 62.5px 0 0 -65px;
}

