.container{
	text-align: center;
	border: solid 5px navajowhite;
	padding: 55px;
	margin: 50px;
}

  .align{     /*     -----------------   with flexbox    */
	display: flex;
  	justify-content: center;
  	align-items: center;
} 

.inline-container{
	text-align: center;;
	display: inline;
	border: solid 10px navajowhite;
	padding: 25px 50px;
	margin: 25px;
	width: 100px;

	/* margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
	margin-top: 10px;
	 */
}

