/*

Selector {
	Property: value;
}


*{
	text-align: right;
}

*/

body{
	background-image: url(https://images.unsplash.com/photo-1670893494981-cd78dcf87cf4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
	background-size: cover;
}

h2, p {
	color: red;
	font-size: 2em;
	text-align: center;
	border: 6px solid green; 
/*	rgba(255, 176, 170, 0.5);*/
	cursor: pointer;
}

.one {
	color: black;
}

.test{
	color: blue;
}

#paragraph{
	background-color: rgba(255, 0, 0, 0.2);
}

li{
	list-style: none;
	display: inline-block;
	font-size: 2em;
}

.button{
	align-items: center;
	margin: 50px;
	font-size: 2em;
	border: 6px solid black;
	background-color: rgba(255, 0, 0, 0.2);
	padding: 1em;
	color: black;
}

.box{
	align-content: center;
	height: 100px;
	width: 100px;
	padding: 20px;
	margin: 50px;
	border: 10px solid black;
	background-color: darkred;
}